---
layout: html
---
<div class="site">
  <div class="site-inner" role="main">



    <article class="md-wrapper" itemscope="" itemtype="http://schema.org/BlogPosting">
      <meta itemprop="description" content="{{ page.teaser-text }}" />

        {% include regions/content-header.html %}

        <div itemprop="articleBody">
          {{ content }}
        </div>

        {% include teaser/author.html %}

    </article>

    {% include regions/call-to-action.html %}

    {% include regions/content-footer.html %}
  </div>
</div>
