---
layout: html
---
<div class="site">

  {% if page.date %}
    <h3 class="page-date"> {{ page.date }} </h3>
  {% endif %}  

  {% if page.subtitle %}
    <h3 class="page-sub-heading"> {{ page.subtitle }} </h3>
  {% endif %}

  {% if page.title %}
    <h2 class="page-heading blog"> {{ page.title }} </h2>
  {% endif %}

  {% if page.header-img %}
    <div class="page-image" style="background-image: url('{{ page.header-img }}');"></div>
  {% endif %}

  {{ content }}

  <div class="page-footer">
    
    {% include call-to-action.html %}

    <div class="more wrapper">

        <div class="blog-list"> 

            <div class="blog">
              {% for blog in site.blogs %}
                {% if blog.url == page.previous.url %}
    
                  {% include blogs-teaser.html %}

                {% endif %}
              {% endfor %}
            </div>

            <div class="blog">
              {% for blog in site.blogs %}
                {% if blog.url == page.next.url %}
    
                  {% include blogs-teaser.html %}

                {% endif %}
              {% endfor %}
            </div>
        
        </div>

      </div>
  </div>
</div>
