<!DOCTYPE html>
<html lang=”nl”>
    {% include regions/head.html %}

    <body class="{% if page.url == '/index.html' %}homepage{% endif %}">

        {% include regions/header.html %}

        {{ content }}

        {% include regions/footer.html %}

        {% include html/footer-scripts.html %}


        <!-- build:dist:remove -->
        <div class="grid"></div>
        <!-- endbuild -->

        <!-- <script type="text/javascript" src="https://studiofonkel.agilecrm.com/stats/min/agile-min.js"> </script> <script type="text/javascript" > _agile.set_account('6gg3plohhvh1od18k30arj37tf', 'studiofonkel'); _agile.track_page_view(); _agile_execute_web_rules(); </script> -->
    </body>
</html>
