<!DOCTYPE html>
<html>
    {% include regions/head.html %}

    <body class="{% if page.url == '/index.html' %}homepage{% endif %}">

        {% include regions/header.html %}

        {{ content }}

        {% include regions/footer.html %}

        {% include html/footer-scripts.html %}


        <!-- build:dist:remove -->
        <div class="grid"></div>
        <!-- endbuild -->
        <!-- build:css({app,.tmp}) /css/styles.css -->
        <link async rel="stylesheet" href="/css/styles.css">
        <!-- endbuild -->

        <!-- build:js(app) /js/header-scripts.js -->
        <script src="/_bower_components/jquery/dist/jquery.js"></script>
        <script src="/_bower_components/html5shiv/dist/html5shiv.min.js"></script>
        <script src="/_bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->

    </body>
</html>
