---
layout: page
---

<div class="wrapper">

  <h1 class="page-sub-heading">Geen standaars oplossingen. Streven naarhet beste rendement, voor de korte en lange termijn</h1>

  <div class="case-list">
    {% for case in site.cases %}
      <div class="case">
        {% include cases-teaser.html %}
      </div>

    {% endfor %}
  </div>

</div>

<!-- <div class="case">
        {% if case.header-img %}
          <img src="{{ case.header-img }}">
        {% endif %}
        <h2><a class="case-link" href="{{ case.url | prepend: site.baseurl }}">{{ case.title }}</a></h2>
        <ul>
          {% for category in case.categories %}
              <li class="{{ category }}">{{ category }}</li>
          {% endfor %}
        </ul>

      </div> -->