.link {
	color: $yellow;
	text-decoration: none;
	font-size: 18px;
	line-height: 30px;
	font-weight: 100;
    bottom: 10%;

    span {
    	float: left;
    	padding-right: 7px;
    }
}

.arrow-long {
	float: left;
    width: 42px;
    transition: $speed;

    #Laag_1 {
    	margin-top: 6px;
    }

    .bar {
    	background:  $yellow none repeat scroll 0 0;
	    height: 2px;
	    margin-top: 13px;
	    margin-left: 10px;
	    
	    &:nth-child(1) {
	    	width: 25px;
	    	margin-left: 6px;
	    }

	    &:nth-child(2) {
		    left: 11px;
		    position: relative;
		    top: -18px;
		    transform: rotate(33deg);
		    width: 10px;
		}

		&:nth-child(3) {
		    left: 11px;
		    position: relative;
		    top: -27px;
		    transform: rotate(-33deg);
		    width: 10px;
		}
    }
}