html {
	height: 100%;
}

body {
	overflow-x: hidden;
	// TODO remove this, fix the overleap.
	height: 100%;
	padding: 0;
	margin: 0 auto;
	// font-family: Arial, Helvetica, sans-serif;
	font-family: "Aktiv Grotesk" ,sans-serif;
	letter-spacing: 1px;
}

img {
	width: 200px;
}

* {
	box-sizing: border-box;
}

h2, p, ul, li, a {
	margin: 0px;
	padding: 0px;
	color: black;
	font-weight: 100;
	text-decoration: none;
}