html {
	height: 100%;
}
* {
  outline: 1px solid lime;
}
body {
	overflow-x: hidden;
	height: 100%;
	padding: 0;
	margin: 0 auto;
	font-family: "Aktiv Grotesk", sans-serif;
	letter-spacing: 1px;
}
main {
  height: 100%;
  display: block;
}
img {
	width: 200px;
}

* {
	box-sizing: border-box;
}

a {
	margin: 0;
	padding: 0;
	color: black;
	font-weight: 300;
	text-decoration: none;
	list-style: none;
}

p {
	font-weight: 100;
}

*:focus {
	outline: none;
}

*::-moz-focus-inner {
	border: none;
}
small {
  font-weight: 100;
}

address {
  font-style: normal;
}

p, small {
  font-size: 18px;
  line-height: 28px;

  a {
    color: $grey;
    position: relative;

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0;
      height: 1px;
      background-color: $light-grey;
    }

    &:before {
      width: 100%;
    }

    &:after {
      background-color: $grey;
      transition: width $speed linear;
    }

    &:hover:after {
      width: 100%;
    }
  }
}

body:not(.widget) {
  ol, ul:not(.list-footer) {
    margin: 0;
    padding: 0;
    @include grid-span(4, 1);
    clear: both;

    @include breakpoint($tablet) {
      @include grid-span(6, 2);
      clear: both;
    }

    @include breakpoint($desktop) {
      @include grid-span(8, 3);
      clear: both;
    }

    li {
      margin: 15px 0;
      clear: both;
      padding: 0;
      //color: $grey;
      font-size: 18px;
      line-height: 28px;
      font-weight: 100;
      list-style: none;
      display: block;
      vertical-align: middle;
      width: 100%;
      position: relative;
      padding-left: 25px;

      &:before {
        content: "\2192";
        color: black;
        display: inline;
        vertical-align: top;
        left: 0;
        top: -1px;
        position: absolute;
      }

      p {
        display: block;
      }
    }
  }
}

ul.list-footer {
  margin: 0;
  padding: 0;
  clear: both;
  margin-bottom: 20px;

  @include breakpoint($desktop) {
    @include float-span(3, 1, 6);
    margin-bottom: 0;

    &:first-of-type {
      clear: left;
    }

    &:last-of-type {
      clear: right;
    }
  }

  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
