html {
	height: 100%;
}

body {
	overflow-x: hidden;
	height: 100%;
	padding: 0;
	margin: 0 auto;
	font-family: "Aktiv Grotesk", sans-serif;
	letter-spacing: 1px;
}

img {
	width: 200px;
}

* {
	box-sizing: border-box;
}

ul, ol, li, a {
	margin: 0;
	padding: 0;
	color: black;
	font-weight: 300;
	text-decoration: none;
	list-style: none;
}

p {
	font-weight: 100;
}

*:focus {
	outline: none;
}

*::-moz-focus-inner {
	border: none;
}