.call-to-action {
	@include grid-span(4, 1);
	position: relative;
	@include clearfix;
	clear: both;
	margin-top: 20px;
	margin-bottom: 20px;

	.cta-text {
		width: 100% !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
		margin-top: 0px;
		padding-bottom: 45px !important;
	}

	.number {
		background: #fff;
		border: 1px solid $yellow;
	    color: $yellow;
	    left: 50%;
	    transform: translate(-50%, 0);
	    position: absolute;
	    bottom: 30px;
	    width: 200px;
		height: 42px;

		span {
			display: block;
		    float: right;
		    font-weight: 100;
		    height: 20px;
		    line-height: 20px;
		    margin: 10px 8px 8px;
		    text-align: right;
		    width: 93%;
			
			.phone {
				float: left;
			    margin: -7px 0 0;
			    width: 30px;
				path {
					fill: $yellow;
				}
			}
		}

	}

	@include breakpoint($tablet) {
		margin: 40px 0px;
		@include grid-span(6, 2);
		clear: both;
	}

	@include breakpoint($desktop) {
		@include grid-span(8, 3);
		clear: both;
	}
}
