.call-to-action {
	position: relative;
	@include clearfix;
	margin: 70px 0px 110px;
	@include grid-span(8, 3, 12);

	.cta-text {
		width: 100% !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding-bottom: 45px !important;
	}

	.phone {
		background: #fff;
		border: 1px solid $yellow;
	    color: $yellow;
	    left: 50%;
	    transform: translate(-50%, 0);
	    position: absolute;
	    bottom: 30px;
	    width: 200px;
		span {
			display: block;
			font-weight: 100;
		    float: right;
		    height: 20px;
		    line-height: 20px;
		    margin: 10px 8px 8px;
		}

		svg {
			height: 30px;
			margin: 4px 0 0 4px;
			path {
				fill: $yellow;
			}
		}
	}
}