.logo {
	clear: left;
    width: 100px;

    &.head {
    	float: left;
    	position: absolute;
        left: 0;
    }

    &.-home {
    	float: left;
    }
}

.homepage {
    .logo.head {
        top: 95px;
    }
}

@media (max-width: $max-width) {
    .logo.head {
        left: 20px;
    }
}