{% assign author_key = page.author %}

{% for employee in site.data.team %}
    {% if employee.key == author_key %}
        <div class="author teaser" itemprop="author" itemscope="" itemtype="https://schema.org/Person">

            <div class="label">Door:</div>

            <div class="left">
                <div class="image" style="background-image: url('/img/{{ employee.key }}.jpg')"></div>
            </div>

            <address class="right">
                <h3 class="name" itemprop="name givenName">{{ employee.name }}</h3>
                <div class="job" itemprop="jobTitle">{{ employee.job }}</div>
                <!--<div class="spamspan" data-attr-subject="subject e-mail" data-attr-body="body e-mail">{{ employee.email }}</div>-->
                <div class="email spamspan">{{ employee.email }}</div>
            </address>

        </div>
    {% endif %}
{% endfor %}
