{% if document %}
	{% assign blog = document %}
{% endif %}

<a class="blogs teaser" href="{{ blog.url | prepend: site.baseurl }}">
	<div class="inner-wrapper">
		<h3 class="header-text">
			{% if blog.html_title %}
				{{ blog.html_title }}
			{% else %}
				{{ blog.title }}
			{% endif %}
		</h3>
		<div class="link">

			{% if page.url == '/blogs/' %}
				<span>Lees blog</span>
			{% elsif blog == page.next or blog == page.previous or blogNull == blog %}
				<span>{{ blog.date | localize:"%d %B %Y" }}</span>
			{% else %}
				<span>Lees blog</span>
			{% endif %}

			<div class="arrow-long">
				{% include svg/arrow.svg %}
			</div>
		</div>
	</div>
</a>
