{% if document %}
	{% assign case = document %}
{% endif %}

<a class="cases teaser {{ extra_class }}" href="{{ case.url | prepend: site.baseurl }}" style="background-image: url('{{ case.header-img }}'); background-position: {{ case.background-position }};">
	<div class="inner-wrapper">
		<h3 class="header-text">{{ case.title }}</h3>
		<div class="link">

			{% if page.url == '/cases/' %}
				<span>Bekijk case</span>
			{% elsif case == page.next or case == page.previous or caseNull == case %}
				{% if case.date %}
					<span>{{ case.date | localize:"%d %B %Y" }}</span>
				{% endif %}
			{% else %}
				<span>Case</span>
			{% endif %}

			<div class="arrow-long">
				{% include svg/arrow.svg %}
			</div>
		</div>
	</div>
</a>
