{% if document %}
	{% assign case = document %}
{% endif %}

{% if case.subtitle %}
    {% assign title = case.subtitle %}
{% else %}
    {{ case.title }}
{% endif %}

<a class="cases teaser {{ extra_class }}" href="{{ case.url | prepend: site.baseurl }}" style="background-image: url('{{ case.header-img }}'); background-position: {{ case.background-position }};">
	<div class="inner-wrapper">
		<h2 class="header-text">
            {{ title }}
		</h2>
		<div class="link">

			<span>Case {{ case.title }}</span>

			<div class="arrow-long">
				{% include svg/arrow.svg %}
			</div>
		</div>
	</div>
</a>
