{% if page.previous.url or page.next.url %}
    <div class="content-footer">

        <div class="previous">
        {% if page.previous.url and page.previous.collection %}
            {% assign document = page.previous %}
                {% include teaser/{{ page.previous.collection }}.html %}
        {% else %}
            {% assign ordered_documents = site[page.collection] | sort: 'date' %}
            {% for document in ordered_documents | offset: 2 limit: 1 %}
                {% include teaser/{{ page.collection }}.html %}
            {% endfor %}
        {% endif %}
        </div>

        <div class="next">
        {% if page.next.url and page.next.collection %}
            {% assign document = page.next %}
                {% include teaser/{{ page.next.collection }}.html %}
        {% else %}
            {% assign ordered_documents = site[page.collection] | sort: 'date' | reverse %}
            {% for document in ordered_documents | offset: 2 limit: 1 %}
                {% include teaser/{{ page.collection }}.html %}
            {% endfor %}
        {% endif %}
        </div>

    </div>
{% endif %}
