{% if page.date and page.collection == 'blog' %}
    <h3 class="page-date" itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}" > {{ page.date | localize:"%d %B %Y" }} </h3>
{% endif %}

{% if page.subtitle %}
    <h3 class="page-sub-heading"> {{ page.subtitle }} </h3>
{% else %}
    {% if page.date %}
        <div class="page-date" itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | localize:"%d %B %Y" }}</div>
    {% endif %}
    {% if page.teaser-text %}
        <div class="page-teaser">{{ page.teaser-text }}</div>
    {% endif %}
{% endif %}

{% if page.url != '/index.html' %}
  {% if page.html_title %}
      <h1 class="page-heading blog" itemprop="name">{{ page.html_title }}</h1>
  {% else %}
      <h1 class="page-heading blog" itemprop="name">{{ page.title }}</h1>
  {% endif %}
{% endif %}

{% if page.header-img %}
    {% if page.header-img-position %}
    	<div class="page-image" style="background-image: url('{{ page.header-img }}'); background-position: {{ page.header-img-position }};"></div>
    {% else %}
    	<div class="page-image" style="background-image: url('{{ page.header-img }}');"></div>
    {% endif %}
{% endif %}
