{% if page.date and page.collection == 'blog' %}
    <h3 class="page-date"> {{ page.date | localize:"%d %B %Y" }} </h3>
{% endif %}

{% if page.subtitle %}
    <h3 class="page-sub-heading"> {{ page.subtitle }} </h3>
{% else %}
    {% if page.date %}
        <div class="page-date">{{ page.date | localize:"%d %B %Y" }}</div>
    {% endif %}
    {% if page.teaser-text %}
        <div class="page-teaser">{{ page.teaser-text }}</div>
    {% endif %}
{% endif %}


{% if page.html_title %}
    <h2 class="page-heading blog">{{ page.html_title }}</h2>
{% else %}
    <h2 class="page-heading blog">{{ page.title }}</h2>
{% endif %}

{% if page.header-img %}
    {% if page.header-img-position %}
    	<div class="page-image" style="background-image: url('{{ page.header-img }}'); background-position: {{ page.header-img-position }};"></div>
    {% else %}
    	<div class="page-image" style="background-image: url('{{ page.header-img }}');"></div>
    {% endif %}
{% endif %}
