<div class="footer">
	<div class="footer-inner">
		<div class="contact-form footer-block">
			{% include html/contact-form.html %}
		</div>

		<div class="call-mail footer-block">
			<a class="contact-link phone left" href="tel:{{ site.phone_number }}">
				{% include svg/phone.svg %}{{ site.phone_number }}
			</a>
			<a class="contact-link mail right" href="mailto:info@studiofonkel.nl">
				{% include svg/mail.svg %} {{ site.footer_email }}
			</a>
		</div>

		<div class="information footer-block">
			{% include html/contact-information.html %}
		</div>

		<div class="social footer-block">
			{% include html/footer-social.html %}
		</div>

		<div class="logo footer-block">
			{% include svg/logo.svg %}
		</div>

	</div>
</div>