<div class="footer">
	<div class="footer-inner">
		<div class="contact-form footer-block">
			{% include html/contact-form.html %}
		</div>
	</div>

	<div class="dark-region">

		<div class="max-width">

			<div class="call-mail footer-block">
				<a class="phone left" href="tel:+31337370019">
					{% include svg/phone.svg %}{{ site.phone_number }}
				</a>
				<a class="mail right" href="mailto:info@studiofonkel.nl">
					{% include svg/mail.svg %} {{ site.footer_email }}
				</a>
			</div>

			<div class="information footer-block">
				{% include html/contact-information.html %}
			</div>

			<div class="social footer-block">
				{% include html/footer-social.html %}
			</div>

			<div class="logo footer-block">
				{% include svg/logo.svg %}
        <br>
        <br>
        <p>Copyright 2011-2016 Studio Fonkel B.V.</p>
			</div>

		</div>

	</div>
</div>
