<div class="header">

	<div class="header-inner">

		<div class="nav main-menu">
			<div class="hamburger">
				<div class="bar"></div>
				<div class="bar"></div>
				<div class="bar"></div>
			</div>

			<a href="/" class="site-logo head">
				{% include svg/logo.svg %}
			</a>

			<div class="nav-inner">
				{% if page.url == '/' %}
				    <a class="active menu-link" href="/">Home</a>
				{% else %}
					<a class="menu-link" href="/">Home</a>
				{% endif %}

				{% assign sorted_pages = site.pages | contains: 'menu', 0, '>' | sort: 'menu' %}

				{% for page_item in sorted_pages %}
					{% if page_item.menu %}
						{% if page_item.url == page.url %}
							<a class="active menu-link" href="{{ page_item.url }}">
								{% if page_item.menu-title %}
									{{ page_item.menu-title }}
								{% else %}
									{{ page_item.title }}
								{% endif %}
							</a>
						{% elsif page.collection and page_item.menu_collection == page.collection %}
							<a class="active active-trail menu-link" href="{{ page_item.url }}">
								{% if page_item.menu-title %}
									{{ page_item.menu-title }}
								{% else %}
									{{ page_item.title }}
								{% endif %}
							</a>
						{% else %}
							<a class="menu-link" href="{{ page_item.url }}">
								{% if page_item.menu-title %}
									{{ page_item.menu-title }}
								{% else %}
									{{ page_item.title }}
								{% endif %}
							</a>
						{% endif %}
					{% endif %}
				{% endfor %}

			</div>
		 </div>

	</div>

</div>
