<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    {% if page.metatitle %}
      {% assign page_title = page.metatitle | append: ' | Studio Fonkel'  %}
    {% elsif page.htmltitle %}
      {% assign page_title = page.htmltitle | append: ' | Studio Fonkel'  %}
    {% elsif page.title %}
      {% assign page_title = page.title | append: ' | Studio Fonkel'  %}
    {% else %}
      {% assign page_title = 'Branding, strategie en Drupal webontwikkeling | Studio Fonkel'  %}
    {% endif %}

    <title>{{ page_title }}</title>
    <meta name="title" content="{{ page_title }}" />
    <meta property="og:title" content="{{ page_title }}" />

    <meta name="description" content="{{ page.metadescription }}" />

    {% if page.og-image %}
    <meta property="og:image" content="https://studiofonkel.nl/images/{{ page.og-image }}" />
    {% else %}
     <meta property="og:image" content="https://studiofonkel.nl/images/og-image.png" />
    {% endif %}

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://studiofonkel.nl{{ page.url }}" />

    <meta property="og:description" content="{{ page.metadescription }}" />
    <meta property="og:site_name" content="Studio Fonkel" />
    <meta property="og:image" content="{{ page.og-image }}" />

    {% if page.url != '/' %}
    <link rel="canonical" href="https://studiofonkel.nl{{ page.url }}">
    {% endif %}

    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/img/manifest.json">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" hreflang="nl" href="https://studiofonkel.nl{{ page.url }}" />
    <meta name="msvalidate.01" content="3285F7831764799190593C41C9EA4C61" />

    {% include html/font-loader.html %}

    <!-- build:css({app,.tmp}) /css/styles.css -->
    <link async="" rel="stylesheet" href="/css/styles.css">
    <!-- endbuild -->

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-7260593-72', 'auto');
        ga('send', 'pageview');

    </script>

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '147883008982504');
    fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=147883008982504&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

</head>
