<header class="header">
	<div class="header-inner">
		<div class="nav main-menu">
			<div role="navigation" class="hamburger">
				<div class="bar"></div>
				<div class="bar"></div>
				<div class="bar"></div>
			</div>

			<a href="/" class="site-logo head">{% include svg/logo.svg %}</a>

			<nav class="nav-inner">
				<ul class="main-menu">
				{% assign menu_items = site.data.menu %}
				{% assign current_url_components = page.url | split: "/" %}

				{% for menu_item in menu_items %}
					{% capture url_component_with_slash %}{{ current_url_components[1] | prepend: "/" }}{% endcapture %}

					{% if url_component_with_slash == menu_item.url %}
						{% assign classes = " active" %}
					{% else %}
						{% assign classes = "" %}
					{% endif %}

					<li class="menu-item{{ classes }}">
						<a class="menu-link{{ classes }}" href="{{ menu_item.url }}">{{ menu_item.title }}</a>
						{% if menu_item.submenu %}

						<ul class="submenu">
							{% for submenu_item in menu_item.submenu %}
								{% capture submenu_url_with_ending_slash %}{{ submenu_item.url | append: "/" }}{% endcapture %}

								{% if submenu_url_with_ending_slash == page.url %}
									{% assign classes = " active" %}
								{% else %}
									{% assign classes = "" %}
								{% endif %}

								<li class="menu-item">
									<a class="menu-link{{ classes }}" href="{{ submenu_item.url }}">{{ submenu_item.title }}</a>
								</li>
							{% endfor %}
							</ul>
							<div class="dropdown-toggle">
								{% include svg/submenu-arrow.svg %}
							</div>
						{% endif %}
					</li>
				{% endfor %}
				</ul>
			</nav>
		 </div>
	</div>
</header>
