.grid {
  position: fixed;
  top: 0;
  max-width: $desktop;
  width: 100%;
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 101;
  pointer-events: none;
  display: none;
  @include background-grid($color: blue);
  opacity: .4;
}

.has-grid-overlay-enabled {
  .grid {
    display: block;
  }
}
