.blogs-overview {
  float: left;
  width: 100%;
  clear: both;
  @include clearfix;

  .item {
    @include float-span(4, 1);

    @include breakpoint($tablet) {
      @include grid-span(6, 2);
      clear: both;
    }

    @include breakpoint($desktop) {
      @include grid-span(8, 3);
      clear: both;
    }
  }
}