.site {
	.blog-list {
		@include grid-span(8, 3, 12);
		clear: both;

		.blog {
			@include clearfix;
			margin: 20px auto;

			.page-date {
				@include grid-span(8, 1, 8, $gutter: 0);
			}

			.page-heading {
				font-weight: 700;
				font-size: 32px;
				line-height: 36px;
				margin: 10px 0px;
				@include grid-span(8, 1, 8, $gutter: 0);
			}

			.page-sub-heading {
				margin-bottom: 20px;
				font-size: 22px;
				line-height: 32px;
				@include grid-span(8, 1, 8, $gutter: 0);
				margin: 10px 0px;
			}

			.text {
				font-size: 20px;
				line-height: 30px;
				color: $text-color;
				font-weight: 100;
				clear: both;
			}

			.link {
				width: 100%;
				margin: 10px 0 30px;
				float: left;
				font-size: 22px;
				line-height: 32px;
			}
		}
	}
}

@media (max-width: $tablet) {

	.site {

		.blog {
			width: 100% !important;
		}
	}
}





