.page-footer {
	@include grid-span(12, 1, 12, $gutter: 0);
	clear: both;

	.wrapper {
		@include clearfix;
		.blog-list {
			margin: 0;
			width: 100%;
			
			.blog {
				float: left;
				width: 49%;
				height: 400px;
				position: relative;
				margin-bottom: 20px;
			
				&:nth-child(even) {
					margin-left: 2%;
				}

				.blogs {
					height: 100%;
					width: 100%;
					position: absolute;
				}
			}
		}
	}
}

@media (max-width: $mobile) {
	.page-footer {	
		.wrapper {
			.blog-list {
				.blog {
					width: 100%;
					margin-left: 0px !important;
				}
			}
		}
	}
}
