$factor: .6;


.padding-fix {
    margin: 0 -10px;

	.front-grid {
	    position: relative;
	    width: 100%;

	    @for $h from 1 through 30 {
			&[data-height='#{$h}']:after {
				content: '';
				display: block;
				width: 100%;
				padding-bottom: $h * 50% * $factor;
			}
		}
	}

	.block {
		position: absolute;

		.block-inner {
			position: absolute;
			bottom: $padding;
			left: $padding;
			right: $padding;
			top: $padding;
		}

		// Width of the columns.
		@for $sx from 1 through 2 {
			&[data-sizex='#{$sx}'] {
				 width: $sx * 50%;
			}
		}

		// After for padding bottom hack, for heights.
		@for $sy from 1 through 2 {
			&[data-sizey='#{$sy}']:after {
				 content: '';
				 display: block;
				 width: 100%;
			}

			// Height for 1 column width and 1 or 2 height.
			&[data-sizex='1'][data-sizey='#{$sy}']:after {
				 padding-bottom: $sy * 100% * $factor;
			}

			// Height for 2 column width and 1 or 2 height.
			&[data-sizex='2'][data-sizey='#{$sy}']:after {
				 padding-bottom: $sy * 50% * $factor;
			}
		}

		// Margin left for position the left.
		@for $col from 1 through 2 {
			&[data-col='#{$col}'] {
				 margin-left: ($col - 1) * 50%;
			}
		}

		// Margin top for position the top.
		@for $row from 1 through 19 {
			&[data-row='#{$row}'] {
				 margin-top: ($row - 1) * 50% * $factor;
			}
		}

		.teaser {
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}
}

@media (max-width: $tablet) {
	.front-grid {
		
		&:after {
			padding-bottom: 0px !important;
		}

		.block {
			width: 100% !important;
			clear: both;
			position: relative;
			margin-left: 0px !important;
			margin-top: 0px !important;

			&:after {
				padding-bottom: 100% * $factor !important;
			}
		}
	}
}
