.categories {
  @include grid-span(8, 3, 12);
  clear: both;

  .categories-inner {
    margin-top: 15px; 
    border-top: 1px solid $yellow;
    width: 88%;
    float: right;

    .categories-item {
      color: $yellow;
      display: inline-block;
      line-height: 45px;
      font-size: 18px;
      font-weight: 400;

      + .categories-item{
        margin-left: 20px;
      }
    }
  }

  .tag {
    display: block;
    background-image: url('../img/tag.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    height: 50px;
    width: 50px;
    float: left;
    width: 8%;
    margin-right: 4%;
  }
}

@media (max-width: $tablet) {
  .categories {
    @include grid-span(8, 1, 8);
  }
}

@media (max-width: $mobile) {
  .categories {
    @include grid-span(4, 1, 4);
    .categories-inner .categories-item {
      font-size: 14px;
    }
  }
}
