.categories {
  margin: 30px 0px;
  @include grid-span(4, 1);
  clear: both;

  .categories-inner {
    margin-top: 15px; 
    border-top: 1px solid $yellow;
    width: 88%;
    float: right;

    .categories-item {
      color: $yellow;
      display: inline-block;
      line-height: 45px;
      font-size: 18px;
      font-weight: 400;
      margin-right: 20px;

      a {
        color: $yellow;
        font-weight: 400;
        transition: color $speed linear;

        &:hover {
          color: $grey;
        }
      }
    }
  }

  .tag {
    display: block;
    background-image: url('../img/tag.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    height: 50px;
    width: 50px;
    float: left;
    width: 8%;
    margin-right: 4%;
  }
}

@include breakpoint($tablet) {
  .categories {
    @include grid-span(6, 2);
    clear: both;
  }
}

@include breakpoint($desktop) {
  .categories {
    @include grid-span(8, 3);
    clear: both;
  }
}
