.content-footer {
  float: left;
  clear: both;
  width: 100%;
  @include clearfix;

  .content-footer-header {
    @include grid-span(4, 1);
    font-size: 48px;
    line-height: 50px;
    color: $text-color;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .teaser {
    padding-top: $factor * 50%;

    @include responsive-repeat($mobile, $tablet) {
      @include float-span(4);
    }

    @include breakpoint($desktop) {
      @include float-span(6);
    }

  }

  @include breakpoint($tablet) {

    .content-footer-header {
      @include grid-span(6, 2);
      clear: both;
      margin-bottom: 45px;
    }

    .previous {
      clear: left;
    }
  }

  @include breakpoint($desktop) {
    .content-footer-header {
      @include grid-span(8, 3);
    }    
  }

}