.convince-header {
	clear: both;
	font-size: 42px !important;
    line-height: 44px !important;
    margin-top: 50px !important;
}

.convince {
	@include grid-span(4, 1);
	clear: both;

	.convince-wrapper {
		@include clearfix;
		margin: 20px 0px;
		position: relative;

		.wrapper-inner {
			@include clearfix;
			position: relative;
			width: 100%;
			float: left;

			.wrapper {
				@include clearfix;
				background-clip: content-box;
				padding-right: 0px;
				background-color: $yellow;
				width: 100%;

				.text {
					padding: 30px;
					@include clearfix;

					span {
						font-size: 80px;
					    font-weight: 600;
					    line-height: 1;
					}

					h2 {
						font-size: 24px;
						border-bottom: 1px solid black;
						line-height: 41px;
						color: #000;
						margin: 10px 0px;
						width: 100%;
					}

					p {
						font-size: 18px;
						margin: 15px 0px;
						width: 100%;
						color: #000;
					}
				}
			}
		}

		.image-wrapper {
			top: 0;
			right: 0;
			bottom: 0;
			@include clearfix;
			position: relative;
			clear: both;
			width: 100%;


			.image {
				background-position: center;
				background-size: cover;
				padding-bottom: 40%;
				position: relative;
				margin-left: 0;
			}
		}
	}
}

@include breakpoint($tablet) {
	.convince {
		@include grid-span(8, 1, $gutter: 0);
		clear: both;

		.convince-wrapper {
			.image-wrapper {
				@include grid-span(4, 1);
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;

				.image {
					position: absolute;
				    right: 0;
				    top: 0;
				    left: 0;
				    bottom: 0;
				}
			}

			.wrapper-inner {
				@include grid-span(4, 5);
			}
		}
	}
}

@include breakpoint($desktop) {
	.convince {
		@include grid-span(12, 1, $gutter: 0);
		clear: both;

		.convince-wrapper {
			.image-wrapper {
				@include grid-span(6, 1);
			}

			.wrapper-inner {
				@include grid-span(6, 7);
			}
		}
	}

	.convince {
		.convince-wrapper:nth-child(odd) {
			.wrapper-inner {
				@include grid-span(6, 1);

				.wrapper {
					padding-left: 0;
				}
			}
			.image-wrapper {
				@include grid-span(6, 7);
				left: auto !important;

				.image {
					margin-right: 0;
				}
			}
		}
	}
}






