figure.image {
	width: 72%;
	margin: 150px auto;

	.image-inner {
		img {
			width: 100%;
		}
	}

	.image-caption {
		font-size: 14px;
	    font-weight: 300;
	    line-height: 24px;
	    margin: 5px auto;
	    width: 80%;
	}

	&.image-browser {

		&:before {
			border-radius: 8px 8px 0px 0px;
			background: rgba(0, 0, 0, 0) url("../img/frame.svg") repeat scroll 0 0;
		    content: "";
		    display: block;
		    height: 40px;
		    left: 0;
		    margin-bottom: -8px;
		    position: relative;
		    top: 0;
		    width: 100%;
		    z-index: 3;
		}

		.image-inner {
			margin-top: 8px;
		}
	}


	&.image-full {
		width: 100%;
	}
}

@media (max-width: $mobile) {
	figure.image {
		width: 100%;
	}
}