figure.image {
	margin: 70px auto;
	@include grid-span(4, 1);
	clear: both;

	.image-inner {
		img {
			width: 100%;
		}
	}

	.image-caption {
		font-size: 14px;
	    font-weight: 300;
	    line-height: 24px;
	    margin: 5px auto;
	    @include grid-span(4, 1, $gutter: 0);
	}

	&.image-browser {
		@include grid-span(4, 1);
		clear: both;

		&:before {
			border-radius: 8px 8px 0px 0px;
			background: rgba(0, 0, 0, 0) url("../img/frame.svg") repeat scroll 0 0;
		    content: "";
		    display: block;
		    height: 40px;
		    left: 0;
		    margin-bottom: -8px;
		    position: relative;
		    top: 0;
		    width: 100%;
		    z-index: 3;
		}

		.image-inner {
			margin-top: 8px;
		}
	}


	&.image-full {
		@include grid-span(4, 1);
		clear: both;

		.image-caption {
			@include grid-span(4, 1);
		}
	}

	@include breakpoint($tablet) {
		@include grid-span(6, 2);
		clear: both;

		&.image-browser {
			@include grid-span(6, 2);
			clear: both;
		}

		&.image-full {
			@include grid-span(8, 1);
			clear: both;

			.image-caption {
				@include grid-span(6, 2);
			}
		}		
	}

	@include breakpoint($desktop) {
		@include grid-span(8, 3);
		clear: both;

		&.image-browser {
			@include grid-span(8, 3);
			clear: both;
		}

		&.image-full {
			@include grid-span(12, 1);
			clear: both;

			.image-caption {
				@include grid-span(8, 3);
			}
		}	
	}
}

// @media (max-width: $tablet) {
// 	figure.image {
// 		@include grid-span(6, 2, 8);
// 		clear: both;

// 		&.image-browser {
// 			@include grid-span(6, 2, 8);
// 			clear: both;
// 		}

// 		&.image-full {
// 			@include grid-span(8, 1, 8);
// 			clear: both;

// 			.image-caption {
// 				@include grid-span(6, 2, 8, $gutter: 0);
// 			}
// 		}
// 	}
// }

// @media (max-width: $tablet) {
// 	figure.image {
// 		@include grid-span(4, 1, 4);
// 		clear: both;

// 		&.image-browser {
// 			@include grid-span(4, 1, 4);
// 			clear: both;
// 		}

// 		&.image-full {
// 			@include grid-span(4, 1, 4);
// 			clear: both;

// 			.image-caption {
// 				@include grid-span(4, 1, 4, $gutter: 0);
// 			}
// 		}
// 	}
// }

