.footer {
	@include clearfix;
	background-color: $lighter-grey;
	padding-top: 50px;
	clear: both;
	margin: 0;
	min-height: 100vh;
	margin-top: 50px;

	.footer-inner {
		max-width: $desktop;
		margin: 0 auto;
	}
}

.footer-block-header {
	font-weight: 600;
	font-size: 34px;
}

.dark-region {
	@include clearfix;
	clear: both;
	background-color: $footer-dark-block;
	padding-top: 30px;
}

.max-width {
    margin: 0 auto;
    max-width: 1100px;
}

.footer-block {
	margin-top: 30px;
	margin-bottom: 30px;
	
	p, 
	ul li,
	a {
		line-height: 25px !important;
		font-size: 15px !important;
		font-weight: 300 !important;
	} 

	a {
		font-size: 16px !important;
	}
}

.footer-block {
	@include grid-span(4, 1);
	clear: both;

	@include breakpoint($tablet) {
		@include grid-span(6, 2);
		clear: both;
	}

	@include breakpoint($desktop) {
		@include grid-span(8, 3);
		clear: both;
	}
}

.footer-block.contact-form {
	.header-text {
		margin: 20px 0 40px;
		font-size: 34px;
		font-weight: 700;
	}

	span {
		float: left;
	    height: 100%;
	    line-height: 35px;
	    margin-left: 10px;
	}

	svg {
		height: 35px;
	}
}

.footer-block.call-mail {
	@include clearfix;
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 0px;
	margin-top: 10px;

	.svg-icon {
		height:30px;
		width: 30px; 
		margin-right: 15px;
		margin-top: -5px;
	}

	.left {
		@include grid-span(4, 1, $gutter: 0);
		text-align: left;
		margin-bottom: 10px;
	}

	.right {
		@include grid-span(4, 1, $gutter: 0);
		text-align: left;
	}
	
	@include breakpoint($tablet) {
		margin: 30px 0px;
		@include grid-span(6, 2);
		clear: both;

		.left {
			@include grid-span(3, 1, 6, $gutter: 0);
			text-align: left;
		}

		.right {
			@include grid-span(3, 4, 6);
			text-align: left;
		}
	}

	@include breakpoint($desktop) {
		@include grid-span(8, 3);
		clear: both;

		.left {
			@include grid-span(3, 2, 8, $gutter: 0);
			text-align: left;
		}

		.right {
			@include grid-span(4, 5, 8);
			text-align: left;
		}
	}
}


.footer-block.information {
	.footer-block-header {
		margin-bottom: 35px;
	}

	.list {
		margin-bottom: 20px;
	}

	.text {
		width: 100%;
	}

	.right {
		margin-top: 70px;
	}

	@include breakpoint($tablet) {
		.left {
			@include grid-span(3, 1, 6, $gutter: 0);
		}

		.right {
			margin-top:0;
			@include grid-span(3, 4, 6);
		}
	}	

	@include breakpoint($desktop) {
		@include isolation-span(12, 1, 'both', $gutter: 0);

		.left {
			@include grid-span(6, 1, 12, $gutter: 0);

			.footer-block-header,
			.list {
				@include isolation-span(3, 1, 'left', 6);

				&:last-child {
					@include grid-span(3, 4, 6);
				}
			}
		}

		.right {
			@include grid-span(6, 7, 12);
		}
	}	
}

.footer-block.social {
	border-bottom: 1px solid black;
	clear: both;
	margin-top: 40px;

	.list {
		@include clearfix;
		padding-bottom: 40px;
	}

	.wrapper {
		clear: both;
	    float: left;
	    width: 100%;
	    margin: 10px 0px 00px;
	}

	.name {
		display: initial;
	    float: left;
	    line-height: 20px;
	    padding: 0 18px 0 0;
	}

	@include breakpoint($tablet) {
	    .wrapper {
		    float: left;
		    width: 25%;
		    clear: right;
			margin: 10px 0px 20px;
		}

		.name {
			padding: 0 15px 0 18px;
		}

		.list {
			padding-bottom: 0;
		}
	}

	@include breakpoint($desktop) {
		.wrapper {
			@include float-span(2, $grid: 8);

			.name {
				padding: 0 15px 0 0 !important;
			}
		}
	}
}

.footer-block.logo {
	@include grid-span(4, 1);
	clear: both;
	text-align: center;

	#logo {
		width: 100px;
	}

	@include breakpoint($tablet) {
		@include grid-span(6, 2);
		clear: both;
	}

	@include breakpoint($desktop) {
		@include grid-span(8, 3);
		clear: both;
	}
}






