.grid {
  height: 100vh;
  left: 50%;
  max-width: $max-width;
  pointer-events: none;
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  width: 100vw;
  z-index: 1001;
  opacity: 0;
  transition: opacity $speed;
  background-color: rgba(#BF0000, .5);

  .column {
    width: (100% / 12);
    float: left;  
    height: 100vh;
    padding: 0 $padding;
    background-color: red;
    background-clip: content-box;

    &:nth-child(odd) {
      background-color: red;
    }
  }
}

.has-grid-overlay-enabled .grid {
  opacity: .5;
}


@media (max-width: $tablet) {
  .grid {  
    .column {
      width: 12.5%;

      &:nth-child(1) {
        padding-left: 20px;
      }

      &:nth-child(8) {
        padding-right: 20px;
      }

      &.desktop {
        display: none;
      }
    }
  }
}

@media (max-width: $mobile) {
  .grid {  
    .column {
      width: 25%;

      &:nth-child(4) {
        padding-right: 20px;
      }

      &.tablet {
        display: none;
      }
    }
  }
}