.homepage {
	.header {
		border-bottom: 0px;
	}
}

.header {
	@include clearfix;
	border-bottom: 1px solid $light-grey;
    max-width: $max-width;
    top: 0;
    position: fixed;
    background: #fff;
    z-index: 99999;
    width: 96.1%;
    height: 80px;
    left: 50%;
    transform: translateX(-50%);

	.nav {
		@include clearfix;
		width: 60%;
		float: right;
		text-align: right;
		margin-top: 15px;
		height: 100%;

		a {
			color: #7f7f7f;
		    display: inline-block;
		    height: 100%;
		    line-height: 65px;
		    text-align: center;
		    position: relative;
		    text-decoration: none;
		    width: 70px;
		    transition: 0.3s;

		    &.active:after {
		    	background-color: $yellow;
			    border-radius: 50%;
			    bottom: 12px;
			    content: "";
			    height: 4px;
			    left: 46%;
			    position: absolute;
			    width: 4px;
		    }

		    &:hover:after {
		    	background-color: $yellow;
			    border-radius: 50%;
			    bottom: 12px;
			    content: "";
			    height: 4px;
			    left: 46%;
			    position: absolute;
			    width: 4px;
		    }
		}
	}
}

@media (max-width: $tablet) {
	.header {
		margin-top: 0px;

		.nav {
			margin-top: 0px;
			visibility: hidden;
			width: 100vw;
			left: 0;
			position: absolute;
			height: 100vh;
			background-color: $yellow;
			z-index: 999;
			height: 0vh;
			transition: 1s;
			overflow: hidden;
			// display: none;

			.nav-inner {
				height: 100vh;

				a {
					width: 100%;
					transition: 0s;
					padding-top: 30px;
					color: #000;
					text-align: center;
					height: 14%;
					font-size: 30px;
				}
			}
		}
	}
}