.logo {
	clear: left;
    width: 100px;

    &.head {
    	position: absolute;
        left: 20px;
        top: 10px;

        &.stick {
            position: relative;
        }
    }

    &.home {
        @include grid-span(2, 1);
    	float: left;
        z-index: 9999999;
        position: relative;
    }
}

.homepage {
    .logo.head {
        top: 95px;
    }
}

@include breakpoint($tablet) {
    .homepage .logo {
        &.home {
            @include grid-span(2, 1, 8);
        }
    }
}

@media (max-width: $mobile) {
    .homepage .logo {
        &.head {
            position: relative;
        }

        &.home {
            @include grid-span(2, 1, 12);
        }
    }
}