.md-wrapper {
  > h2,
  > h3,
  .text > h2,
  .text > h3 {
    color: $text-color;
    font-weight: 600;
    margin: 30px auto 15px;
    position: relative;
    display: block;
    @include grid-span(4, 1);
    clear: both;

    @include breakpoint($tablet) {
      @include grid-span(6, 2);
      clear: both;
    }

    @include breakpoint($desktop) {
      @include grid-span(8, 3);
      clear: both;
    }
  }

  > h2,
  .text > h2 {
    font-size: 32px;
    line-height: 36px;
  }

  > h3,
  .text > h3 {
    font-size: 24px;
    line-height: 30px;
    font-style: normal;
  }
  .text ul a, .text p a {
    border-bottom: 1px dashed $grey;
  }

  > p,
  .text > p {
    margin: 10px 0;
    @include grid-span(4, 1, 4);

    @include breakpoint($tablet) {
      @include grid-span(6, 2);
      clear: both;
    }

    @include breakpoint($desktop) {
      @include grid-span(8, 3);
      clear: both;
    }
  }
}
