.md-wrapper ol, ul {
	@include grid-span(4, 1);
	@include clearfix;
	clear: both;

	li {
		@include clearfix;
		list-style: decimal;
		list-style-position: inside;
		margin: 15px 0px;

		p {
			width: 94% !important;
			float: right;
			margin: 0px !important;
		}
	}

	@include breakpoint($tablet) {
		@include grid-span(6, 2);
		clear: both;

		li p {
			float: right !important;
		}
	}

	@include breakpoint($desktop) {
		@include grid-span(8, 3);
		clear: both;

		li p {
			float: right !important;
		}
	}
}

ul li {
	list-style: inside;
}