.site-logo {
  max-width: 100px;
  width: 100%;
  display: block;
  float: left;
  margin-top: 10px;
  position: relative;
  top: 70px;
}

.has-active-menu {
  .site-logo.head {
    display: none;
  }
}
