.site-intro  {
  @include grid-span(4, 1);
  clear: left;
  font-size: 18px;
  color: #54575a;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 40px;

  @include breakpoint($tablet) {
    @include grid-span(8, 1);
    clear: left;
  }

  @include breakpoint($desktop) {
    @include grid-span(12, 1);
    clear: left;
  }

}