$widget-height: 550px;

.team-widget-text {
  z-index: 1;
  @include isolation-span(3, 10, 'right', 12);
  margin-bottom: 30px;
  overflow: hidden;
  transition: opacity $speed;

  &.text-1 {
    margin-bottom: 50px;
  }

  &.text-2 {
  }
}

.team-widget-description {
  @include isolation-span(3, 10, 'right', 12);
  font-weight: 100;
  margin-bottom: 50px;
}


.desktop-team-widget {
  height: $widget-height;
  margin-top: 80px;
  margin-bottom: 100px;
  position: relative;
  width: 100%;
  z-index: 2;

  .select-wrapper {
    overflow: hidden;
    @include isolation-span(3, 10, 'right', 12);
    margin-bottom: 15px;
    position: relative;

    &:before, &:after {
      content: '';
      width: 10px;
      height: 2px;
      background-color: black;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }

    &:after {
      transform: translate(-3px, -45%) rotate(45deg);
    }

    &:before {
      transform: translate(3px, -45%) rotate(-45deg);
    }

    select {
      width: calc(100% + 30px);
      padding: 10px;
      padding-right: 60px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 40px;
      outline: none !important;
      border: 0;
      cursor: pointer;

      option {
        border: 0;
      }
    }
  }

  .team-widget-graph {
    z-index: 3;
    padding: 30px;
    background-color: white;
    @include grid-span(7, 1, 12);
    position: relative;
    height: 100%;
    border: 1px dashed $light-grey;

    &:before {
      content: '';
      display: block;
      position: absolute;
      opacity: 1;
      transition: opacity $speed;
      top: 0;
      left: 50%;
      height: 100%;
      width: 0;
      border-left: 1px dashed $yellow-light;
      border-right: 1px dashed $yellow-light;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      opacity: 1;
      transition: opacity $speed;
      left: 0;
      width: 100%;
      height: 0;
      border-top: 1px dashed $yellow;
      border-bottom: 1px dashed $yellow;
    }
  }

  #select1 {
    background-color: $yellow;
  }

  #select2 {
    background-color: $yellow-light;
  }

  #select1-label1, #select1-label2, #select2-label1, #select2-label2 {
    position: absolute;
    padding: 10px;
    z-index: 2;
    font-size: 11px;
    text-transform: uppercase;
    pointer-events: none;
    white-space: nowrap;
    text-align: center;
    background-color: $yellow-light;
  }

  #select1-label1 {
    top: 50%;
    right: 100%;
    transform: translate(0, -50%);
    background-color: $yellow;
  }

  #select1-label2 {
    background-color: $yellow;
  }

  #select1-label2 {
    top: calc(50%);
    left: calc(100%);
    cursor: pointer;
    transform: translate(0, -50%);
  }

  #select2-label1 {
    left: calc(50%);
    bottom: 100%;
    transform: translate(-50%, 0);
  }

  #select2-label2 {
    left: calc(50%);
    top: calc(100%);
    cursor: pointer;
    transform: translate(-50%, 0);
  }

  .select-label {
    transition: opacity $speed;
    opacity: 1;
  }
}

$yAxis: cubic-bezier(.63,.06,.65,.98);
$xAxis: cubic-bezier(.13,.06,.75,.98);


.team-member-node {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 4;
  transition: transform ($speed * 2) $xAxis, width ($speed * 2) $xAxis, height ($speed * 2) $xAxis, background ($speed * 2) $yAxis, box-shadow $speed $yAxis;
  position: absolute;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  transform: translate(-50%, -50%) translate(0, 0);
  background-size: 180px;
  cursor: pointer;

  &:not(.cloned):hover {
    z-index: 6;
    box-shadow: 0 3px 10px -1px rgba(0, 0, 0, 0.6);
  }

  &.clicked {
    opacity: 0;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0);
  }

  .image {
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0);
    width: 100%;
    transition: transform ($speed * 2) $yAxis, width ($speed * 2) $yAxis, height ($speed * 2) $yAxis, background ($speed * 2) $yAxis;
    height: 100%;
    background-size: 180px;
    border-radius: 50%;
  }

  &.cloned {
    box-shadow: 0 3px 10px -1px rgba(0, 0, 0, 0);
    position: fixed;
    z-index: 300;
  }
}

.team-widget-is-changing[data-delta="0"] {
  .team-widget-text.text-1 {
    opacity: 0;
  }

  #select1-label1, #select1-label2 {
    opacity: 0;
  }

  .team-widget-graph:after {
    opacity: 0;
  }
}

.team-widget-is-changing[data-delta="1"] {
  .team-widget-text.text-2 {
    opacity: 0;
  }

  #select2-label1, #select2-label2 {
    opacity: 0;
  }

  .team-widget-graph:before {
    opacity: 0;
  }
}

body {
  float: left;
  width: 100%;
}

.has-active-team-widget-popup {
  .header {
    overflow-y: scroll;
  }

  .extra-wrapper {
    overflow-y: scroll;
  }

  body {
    overflow: hidden;
  }
}

.team-widget-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: $yellow;
  z-index: 170;
  opacity: 0;
  transition: opacity $speed;

  .inner {
    width: 600px;
    overflow-y: auto;
    position: absolute;
    left: 50%;
    opacity: 0;
    transition: opacity $speed .7s;
    top: 100px;
    height: calc(100% - 200px);
    margin-left: -300px;
  }

  .team-member-image {
    width: 280px;
    height: 280px;
    background-size: 280px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0s .3s;
  }

  .team-member-title {
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 20px;
    transform: translateY(-50px);
  }

  .team-member-job {
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .team-member-title,
  .team-member-bio,
  .team-member-job {
    transform: translateY(-50px);
    opacity: 0;
    transition: opacity .8s .2s, transform .8s .3s;
  }


  .team-member-mail {
    display: none;
  }

  &.visible {
    opacity: 1;

    .inner {
      opacity: 1;
      overflow-x: hidden;
    }

    .team-member-image {
      //opacity: 1;
    }

    .team-member-close {
      transform: rotate(0deg) translateY(0);
      opacity: 1;
    }
    .team-member-title,
    .team-member-bio,
    .team-member-job {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

.team-member-close {
  position: absolute;
  width: 40px;
  height: 40px;
  opacity: 0;
  transition: opacity .6s .8s, transform .6s .8s;
  right: 0;
  top: 40px;
  z-index: 320;
  cursor: pointer;
  transform: rotate(10deg) translateY(-40px);

  &:before, &:after {
    display: block;
    content: '';
    height: 40px;
    width: 3px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}