.team-widget {
	@include clearfix;
	width: 100%;
    font-size: 0;
    letter-spacing: 0;
	clear: both;
	margin: 100px 0px;

	.employee {
	    clear: none;
	    min-height: 200px;
	    padding: 10px;
	    transition: $speed;
	    width: 25%;
	    display: inline-block;
	    vertical-align: top;

	    &:hover {
	    	.image {
	    		background-position: 100%;
	    	}
	    }

	    .employee-radio {
	    	display: none;

	    	&:checked + .info {
		    	transition: max-height $speed .6s;
		    	max-height: 600px;
		    }
	    }

	    .image {
	    	cursor: pointer;
	    	background-size: cover;
			background-position: center;
			display: block;
			height: 260px;
			transition: $speed;
			width: 100%;
		    display: block;
		    float: left;

		    &:nth-of-type(4n + 1) {
		    	clear: left;
		    }

		    &:nth-of-type(4n + 2) {
		    	margin-left: calc(20% + 40px);
		    }

		    &:nth-of-type(4n + 3) {
		    	margin-left: calc(40% + 60px);
		    }

		    &:nth-of-type(4n + 4) {
		    	margin-left: calc(60% + 80px);
		    }

	    }

	    .info {
	    	max-height: 0;
	    	overflow: hidden;
	    	float: left;
	    	transition: max-height $speed 0s;
			width: 208%;
			margin: 0;
			margin-left: 108%;

			h2 {
				color: $yellow;
				border-top: 1px solid;
			    font-size: 20px;
			    padding-top: 10px;
			    font-weight: 700;
			    margin: 0 auto;
			    width: 100%;
			    margin-top: 50px;
			}

			p {
				color: #f8bf00;
    			margin: 0 auto;
    			width: 100%;
    			margin-bottom: 50px;
			}	
	    }
	}
}

// If 4 in a row.
.team-widget .employee {
    &:nth-of-type(4n + 2) {
		.info {
			width: 208%;
			margin-left: 0%;
		}
    }

    &:nth-of-type(4n + 3) {
		.info {
			margin-left: -108%;
		}
    }

    &:nth-of-type(4n + 4) {
		.info {
			margin-left: -215%;
			clear: both;
		}
    }
}