.teaser {
	transition: $speed;
	background-size: cover;

	.inner-wrapper {
		margin: 40px;
		position: absolute;
		bottom: 0;

		.header-text {
			color: #fff;
		    display: block;
		    font-size: 30px;
		    line-height: 32px;
		    font-weight: 700;
		    bottom: 20%;
		    width: 100%;
		}
	}

	&:hover {
		.arrow-long {
			margin-left: 10px;
		}
	}
}
