.team-widget-text {
  margin-top: calc(45vh);
  transform: translate(0, -50%);
  @include grid-span(3, 10, 12);
  z-index: 1;
}

.desktop-team-widget {
  height: 60vh;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  width: 100%;
  z-index: 2;

  .team-widget-graph {
    z-index: 3;
    padding: 30px;
    background-color: white;
    @include grid-span(9, 1, 12);
    position: relative;
    height: 100%;
    border: 1px dashed $light-grey;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      width: 1px;
      border-left: 1px dashed $light-grey;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      border-top: 1px dashed $light-grey;
    }
  }

  #select1, #select2 {
    position: absolute;
    display: block;
    border: 0;
    height: 40px;
    box-sizing: border-box;
    z-index: 1;
  }

  #select1-label1, #select1-label2, #select2-label1, #select2-label2 {
    position: absolute;
    padding: 10px;
    z-index: 2;
    pointer-events: none;
    white-space: nowrap;
    text-align: center;
  }

  #select1-label1 {
    top: 50%;
    right: calc(100% + 23px);
    transform: translate(0, -50%);
  }

  #select1,
  #select1-label2 {
    top: 50%;
    cursor: pointer;
    left: calc(100% + 23px);
    transform: translate(0, -50%);
  }

  #select2-label1 {
    left: 50%;
    top: -50px;
    transform: translate(-50%, -50%);
  }

  #select2,
  #select2-label2 {
    left: 50%;
    top: calc(100% + 50px);
    cursor: pointer;
    transform: translate(-50%, -50%);
  }

  #select1-label1,
  #select2-label1 {
    border: 1px solid $grey;
    background-color: lighten($yellow, 30);
  }

  #select1-label2,
  #select2-label2 {
    padding-right: 50px;
    border: 1px solid black;
    background-color: $yellow;

    &:before {
      content: '';
      width: 2px;
      height: 12px;
      background-color: black;
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translateY(-50%) rotate(-45deg);
      display: block;
    }

    &:after {
      content: '';
      width: 2px;
      height: 12px;
      background-color: black;
      position: absolute;
      top: 50%;
      right: 23px;
      transform: translateY(-50%) rotate(45deg);
      display: block;
    }
  }

  .node {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 4;
    transition: transform $speed, border $speed;
    border: 2px solid rgba($yellow, .01);
    position: absolute;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    transform: translate(-50%, -50%) translate(0, 0);
    background-size: 180px;
    cursor: pointer;

    &:hover {
      border: 2px solid $yellow;
      z-index: 5;
    }
  }

  #select1, #select2 {
    opacity: 1;
    transition: opacity 0s $speed;
  }

  .team-widget-text {
    transition: all $speed;
    opacity: 1;
  }

  .select-label {
    transition: opacity $speed;
    opacity: 1;
  }
}

.team-widget-is-changing {
  #select1, #select2 {
    transition: opacity 0s 0s;
    opacity: 0;
  }

  .team-widget-text {
    opacity: 0;
    transform: translate(-110%, -50%);
  }

  .select-label {
    opacity: 0;
  }
}