.team-widget {
	margin: 30px 0px;
    font-size: 0;
    letter-spacing: 0;
    @include grid-span(4, 1);
	clear: both;

	.employees-wrapper {
		@include clearfix;
		clear: both;
	}

	.employee {
	    clear: none;
	    min-height: 200px;
	    margin: 20px 0px;
	    transition: $speed;
	    width: 100%;
	    display: inline-block;
	    vertical-align: top;

	    &:hover {
	    	.image {
	    		background-position: 100%;
	    	}
	    }

	    .employee-radio {
	    	display: none;

	    	&:checked ~ label .image {
	    		background-position: 100%;
	    	}

	    	&:checked ~ .info {
		    	transition: max-height $speed .6s;
		    	max-height: 600px;
		    }
	    }

	    .image {
	    	cursor: pointer;
	    	background-size: cover;
			background-position: center;
			display: block;
			height: 260px;
			transition: $speed;
			width: 100%;
		    display: block;
		    float: left;

		    &:nth-of-type(4n + 1) {
		    	clear: left;
		    }

		    &:nth-of-type(4n + 2) {
		    	margin-left: calc(20% + 40px);
		    }

		    &:nth-of-type(4n + 3) {
		    	margin-left: calc(40% + 60px);
		    }

		    &:nth-of-type(4n + 4) {
		    	margin-left: calc(60% + 80px);
		    }

	    }

	    .info {
	    	max-height: 0;
	    	overflow: hidden;
	    	float: left;
	    	transition: max-height $speed 0s;
			width: 100%;
			margin: 0;
			// margin-left: 108%;
			// @include grid-span(6, 4, 3, $gutter: 0);

			h2 {
				color: $yellow;
				border-top: 1px solid;
			    font-size: 20px;
			    padding-top: 10px;
			    font-weight: 700;
			    margin: 0 auto;
			    width: 100%;
			    margin-top: 50px;
			}

			p {
				@include clearfix;
				color: $yellow;
			    font-size: 18px;
			    letter-spacing: 1px;
			    line-height: 23px;
			    margin: 0 auto 50px;
			    width: 100%;
			}	
	    }
	}
}

// If 4 in a row.
.team-widget .employee {
    &:nth-of-type(4n + 2) {
		.info {
			margin-left: 0;
			width: 99%;
		}
    }

    &:nth-of-type(4n + 3) {
		.info {
			margin-left: 0;
		}
    }

    &:nth-of-type(4n + 4) {
		.info {
			margin-left: 0;
		}
    }
}

@include breakpoint($tablet) {
	.team-widget {
		@include grid-span(8, 1, $gutter: 0);
		clear: both;

		h2.page-heading.team {
			// margin: 10px 0px 10px 10px !important;
			@include grid-span(6, 2, 8);
		}

		.employee {
			width: 50%;
			padding: 12px;

			.info {
				margin: 0 0 0 27%;
    			width: 153%;
			}
		}
	}

	// If 4 in a row.
	.team-widget .employee {
	    &:nth-of-type(4n + 2) {
			.info {
				margin-left: -80%;
    			width: 153%;
			}
	    }

	    &:nth-of-type(4n + 3) {
			.info {
				margin-left: 27%;
			}
	    }

	    &:nth-of-type(4n + 4) {
			.info {
				margin-left: -79%;
			}
	    }
	}
}

@include breakpoint($desktop) {
	.team-widget {
		
		h2.page-heading.team {
			// margin: 10px 0px 10px 10px !important;
			@include grid-span(8, 3);
		}

		.employee {
			width: 25%;

			.info {
				margin-left: 110%;
    			width: 212%;
			}
		}
	}

	// // If 4 in a row.
	.team-widget .employee {
	    &:nth-of-type(4n + 2) {
			.info {
				width: 208%;
				margin-left: 0%;
			}
	    }

	    &:nth-of-type(4n + 3) {
			.info {
				clear: both;
			    margin-left: -111%;
			    width: 212%;
			}
	    }

	    &:nth-of-type(4n + 4) {
			.info {
				clear: both;
			    margin-left: -222%;
			    width: 212%;
			}
	    }
	}
}









