$widget-height: 55vh;

.team-widget-text {
  z-index: 1;

  &.text-1 {
    transform: translate(0, 0);
    @include grid-span(3, 9, 12);
    margin-top: calc(#{$widget-height / 2} + 15px);

  }

  &.text-2 {
    transform: translate(0, 0);
    margin-top: calc(#{$widget-height} + 30px);
    @include grid-span(3, 2, 12);
    text-align: right;
  }
}

.team-widget-description {
  @include grid-span(4, 9, 12);
  font-weight: 100;
}


.desktop-team-widget {
  height: $widget-height;
  margin-top: 100px;
  margin-bottom: 200px;
  position: relative;
  width: 100%;
  z-index: 2;

  .team-widget-graph {
    z-index: 3;
    padding: 30px;
    background-color: white;
    @include grid-span(8, 1, 12);
    position: relative;
    height: 100%;
    border: 1px dashed $light-grey;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      width: 1px;
      border-left: 1px dashed $light-grey;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      border-top: 1px dashed $light-grey;
    }
  }

  #select1, #select2 {
    position: absolute;
    display: block;
    border: 0;
    height: 40px;
    box-sizing: border-box;
    z-index: 1;
  }

  #select1-label1, #select1-label2, #select2-label1, #select2-label2 {
    position: absolute;
    padding: 10px;
    z-index: 2;
    pointer-events: none;
    white-space: nowrap;
    text-align: center;
    background-color: $yellow-light;
  }

  #select1-label1 {
    top: calc(50% - 35px);
    right: calc(100% + 23px);
    transform: translate(0, -50%);
    background-color: $yellow;
  }

  #select1-label2 {
    background-color: $yellow;
  }

  #select1,
  #select1-label2 {
    top: calc(50% - 35px);
    left: calc(100% + 23px);
    cursor: pointer;
    transform: translate(0, -50%);
  }

  #select2-label1 {
    left: calc(50% + 12px);
    top: -68px;
    transform: translate(0, 0);
  }

  #select2,
  #select2-label2 {
    left: calc(50% + 12px);
    top: calc(100% + 33px);
    cursor: pointer;
  }

  #select1-label1,
  #select2-label1 {
    border: 1px solid $grey;
  }

  #select1-label2,
  #select2-label2 {
    padding-right: 50px;
    border: 1px solid black;

    &:before {
      content: '';
      width: 2px;
      height: 12px;
      background-color: black;
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translateY(-50%) rotate(-45deg);
      display: block;
    }

    &:after {
      content: '';
      width: 2px;
      height: 12px;
      background-color: black;
      position: absolute;
      top: 50%;
      right: 23px;
      transform: translateY(-50%) rotate(45deg);
      display: block;
    }
  }

  #select1, #select2 {
    opacity: 1;
    transition: opacity 0s $speed;
  }

  .team-widget-text {
    transition: all $speed;
    opacity: 1;
  }

  .select-label {
    transition: opacity $speed;
    opacity: 1;
  }
}

.team-member-node {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 4;
  transition: transform ($speed * 1.5), border $speed;
  border: 2px solid rgba($yellow, .01);
  position: absolute;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  transform: translate(-50%, -50%) translate(0, 0);
  background-size: 180px;
  cursor: pointer;

  &:not(.cloned):hover {
    border: 2px solid $yellow;
    z-index: 5;
  }

  &.clicked {
    opacity: 0;
  }

  $xAxis: cubic-bezier(.23,.76,.54,.73);
  $yAxis: cubic-bezier(.23,.76,.64,.73);

  &.cloned {
    box-shadow: none;
    position: fixed;
    z-index: 300;
    transition: transform ($speed * 1.5) $xAxis, border $speed, width $speed $xAxis, height $speed $xAxis;

    .image {
      box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
      width: 100%;
      transition: transform ($speed * 1.5) $yAxis, width $yAxis, height $speed $yAxis;
      height: 100%;
      background-size: 280px;
      border-radius: 50%;
    }
  }
}

.team-widget-is-changing[data-delta="0"] {
  #select1, #select2 {
    transition: opacity 0s 0s;
    opacity: 0;
  }

  .team-widget-text.text-1 {
    opacity: 0;
    transform: translate(-110%, 0);
  }

  #select1-label1, #select1-label2 {
    opacity: 0;
  }
}
[data-delta="0"] {
  .team-widget-graph:after {
    animation: highlight .7s .9s;
  }
}

.team-widget-is-changing[data-delta="1"] {
  #select1, #select2 {
    transition: opacity 0s 0s;
    opacity: 0;
  }

  .team-widget-text.text-2 {
    opacity: 0;
    transform: translate(0, -110%);
  }

  #select2-label1, #select2-label2 {
    opacity: 0;
  }
}
[data-delta="1"] {
  .team-widget-graph:before {
    animation: highlight .7s .9s;
  }
}

@keyframes highlight {
  0% {
    border-color: $light-grey;
  }
  50% {
    border-color: $yellow;
  }
  100% {
    border-color: $light-grey;
  }
}

body {
  float: left;
  width: 100%;
}

.has-active-team-widget-popup {
  .header {
    overflow-y: scroll;
  }

  .extra-wrapper {
    overflow-y: scroll;
  }

  body {
    overflow: hidden;
  }
}

.team-widget-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: $yellow;
  z-index: 170;
  opacity: 0;
  transition: opacity $speed;

  .inner {
    width: 600px;
    max-height: 70vh;
    overflow-y: auto;
    position: absolute;
    left: 50%;
    transition: opacity $speed .3s, transform $speed .2s;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) translate(0, -40px);
  }

  .team-member-image {
    width: 280px;
    height: 280px;
    background-size: 280px;
    border-radius: 50%;
    opacity: 0;
  }

  &.visible {
    opacity: 1;

    .inner {
      transform: translate(-50%, -50%) translate(0, 0);
      opacity: 1;
    }
  }
}