.team-widget {
	margin: 30px 0px;
    font-size: 0;
    letter-spacing: 0;
    @include grid-span(12, 1, 12, $gutter: 0);
	clear: both;

	.employees-wrapper {
		@include clearfix;
		clear: both;
	}

	.employee {
	    clear: none;
	    min-height: 200px;
	    padding: 10px;
	    transition: $speed;
	    width: 25%;
	    display: inline-block;
	    vertical-align: top;

	    &:hover {
	    	.image {
	    		background-position: 100%;
	    	}
	    }

	    .employee-radio {
	    	display: none;

	    	&:checked + .info {
		    	transition: max-height $speed .6s;
		    	max-height: 600px;
		    }
	    }

	    .image {
	    	cursor: pointer;
	    	background-size: cover;
			background-position: center;
			display: block;
			height: 260px;
			transition: $speed;
			width: 100%;
		    display: block;
		    float: left;

		    &:nth-of-type(4n + 1) {
		    	clear: left;
		    }

		    &:nth-of-type(4n + 2) {
		    	margin-left: calc(20% + 40px);
		    }

		    &:nth-of-type(4n + 3) {
		    	margin-left: calc(40% + 60px);
		    }

		    &:nth-of-type(4n + 4) {
		    	margin-left: calc(60% + 80px);
		    }

	    }

	    .info {
	    	max-height: 0;
	    	overflow: hidden;
	    	float: left;
	    	transition: max-height $speed 0s;
			width: 208%;
			margin: 0;
			margin-left: 108%;
			// @include grid-span(6, 4, 3, $gutter: 0);

			h2 {
				color: $yellow;
				border-top: 1px solid;
			    font-size: 20px;
			    padding-top: 10px;
			    font-weight: 700;
			    margin: 0 auto;
			    width: 100%;
			    margin-top: 50px;
			}

			p {
				color: #f8bf00;
    			margin: 0 auto;
    			width: 100%;
    			margin-bottom: 50px;
			}	
	    }
	}
}

// If 4 in a row.
.team-widget .employee {
    &:nth-of-type(4n + 2) {
		.info {
			width: 208%;
			margin-left: 0%;
		}
    }

    &:nth-of-type(4n + 3) {
		.info {
			margin-left: -108%;
		}
    }

    &:nth-of-type(4n + 4) {
		.info {
			margin-left: -215%;
			clear: both;
		}
    }
}

@include breakpoint(max-width $tablet) {
	.team-widget {

		h2.page-heading.team {
			width: 100% !important;
			margin: 10px 0px 10px 10px !important;
		}

		.employee {
			width: 50%;

			.info {
				width: 206%;
				margin: 0; 
			}
		}
	}

	// If 4 in a row.
	.team-widget .employee {
	    &:nth-of-type(4n + 2) {
			.info {
				width: 206%;
				margin-left: -107%;
			}
	    }

	    &:nth-of-type(4n + 3) {
			.info {
				margin-left: 0;
			}
	    }

	    &:nth-of-type(4n + 4) {
			.info {
				margin-left: -107%;
			}
	    }
	}
}

@include breakpoint(max-width $mobile) {
	.team-widget {

		.employee {
			width: 100%;

			.info {
				width: 99%;
			}
		}
	}

	// If 4 in a row.
	.team-widget .employee {
	    &:nth-of-type(4n + 2) {
			.info {
				margin-left: 0;
    			width: 99%;
			}
	    }

	    &:nth-of-type(4n + 3) {
			.info {
				margin-left: 0;
			}
	    }

	    &:nth-of-type(4n + 4) {
			.info {
				margin-left: 0;
			}
	    }
	}
}









