---
layout: page
---

<div class="wrapper">

  <h1 class="page-heading">{{ site.slogan }}</h1>

	<div class="front-grid" data-height="9">

	    {% for item in site.data.front %}
	        <div class="block" data-row="{{ item.row }}" data-col="{{ item.col }}" data-sizex="{{ item.size_x }}" data-sizey="{{ item.size_y }}" data-url="{{ item.url }}">

	            {% for document in site.documents %}
	                {% if document.url == item.url %}
	                    {% include {{ document.collection }}-teaser.html %}
	                {% endif %}
	            {% endfor %}
	        </div>
	    {% endfor %}
	   
	</div>

</div>

