---
layout: page
metatitle: "Studio Fonkel | Branding, strategie en Drupal webontwikkeling"
metadescription: "Een onderscheidend verhaal, vanuit de kern van uw organisatie en vertaald in een overtuigende website."
---

<!--<div class="site-logo home">-->
	<!--{% include svg/logo.svg %}-->
<!--</div>-->

<h1 class="site-slogan">{{ site.slogan }}</h1>
<p class="site-intro">Een onderscheidend verhaal, vanuit de kern van uw organisatie en vertaald in een overtuigende website.</p>
{% include html/front-overview.html %}
