---
layout: page
metatitle: "Branding, strategie en Drupal webontwikkeling | Studio Fonkel"
metadescription: "Een onderscheidend verhaal, vanuit de kern van de organisatie, vertaald naar een overtuigende Drupal website."
og-image: "og-image.png"
---

<!--<div class="site-logo home">-->
	<!--{% include svg/logo.svg %}-->
<!--</div>-->

<p class="site-slogan">{{ site.slogan }}</p>
<h1 class="site-intro">Een onderscheidend verhaal, vanuit de kern van de organisatie, vertaald naar een overtuigende Drupal website.</h1>
{% include html/front-overview.html %}
