.md-wrapper p {
	margin: 10px 0px;
	@include grid-span(4, 1, 4);

	@include breakpoint($tablet) {
		@include grid-span(6, 2);
		clear: both;
	}

	@include breakpoint($desktop) {
		@include grid-span(8, 3);
		clear: both;
	}
}

p {
	font-size: 18px;
	line-height: 28px;

	a {
		color: $yellow;
		transition: $speed;
		position: relative;
		
		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
			height: 1px;
			width: 0px;
			background: black;
			transition: $speed;
		}

		&:hover {
			color: black;

			&:before {
				width: 100%;
			}
		}
	}
}