<article class="blogs item">
	<a href="{{ blog.url | prepend: site.baseurl }}" class="link">
		<time datetime="{{ blog.date  | localize:"%Y-%m-%d " }}" class="blog-date">{{ blog.date | localize:"%d %B %Y" }}</time>
		<h3 class="blog-heading">{{ blog.title }}</h3>
		{% if blog.header-img %}
		<div class="blog-image">
			<div class="background-image" style="background-image: url({{ blog.header-img }})"></div>
		</div>
		{% endif %}
		<div class="blog-text">
			{{ blog.teaser-text }}
		</div>
		<span>Lees meer</span>
			<div class="arrow-long"> 
				{% include svg/arrow.svg %}
		</div>
	</a>
</article>
