{% if document %}
	{% assign blog = document %}
{% endif %}

{% if page.url == '/widget/index.html' %}
	{% assign markup_element = 'div' %}
{% else %}
	{% assign markup_element = 'a' %}
{% endif %}


	<{{ markup_element }} class="{{ blog.collection }} teaser" href="{{ blog.url | prepend: site.baseurl }}">
	<div class="inner-wrapper">
		<h3 class="header-text">{{ blog.title }}</h3>
		<div class="link">
			<span>Blog</span>
			<div class="arrow">
				<div class="bar">
				</div><div class="bar"></div>
				<div class="bar"></div>
			</div>
		</div>
	</div>
</{{ markup_element }}>