<div class="footer">
	<div class="footer-inner">
		<div class="setup">
			<h2>Kunnen wij je ergens mee helpen?</h2>
			<form id="contact-form" method="post">
				<input class="field empty" type="text" id="name" name="name" placeholder="Je naam">
				<textarea class="field" id="contactTextArea" name="message" placeholder="Bericht"></textarea>
				<input class="field" id="email" type="text" name="email" placeholder="Je email">
				<input class="field" id="phone" type="text" name="phone" placeholder="Je telefoonnummer">
				<button>Verzend{% include arrow.svg %}</button>
			</form>
		</div>

		<div class="call-mail">
			<div class="left">
				<div class="icon">
					{% include phone.svg %}
				</div>
				<a class="contact-link" href="#!">+31 33 737 0019</a>
			</div>
			<div class="right">	
				<div class="icon">
					{% include mail.svg %}
				</div>
				<a class="contact-link" href="mailto:info@studiofonkel.nl">info@studiofonkel.nl</a>
			</div>
		</div>

		<div class="information">
			<div class="left">
				<h2 class="header-text">Gegevens</h2>
				<ul class="list">
					<li>Studio Fonkel BV</li>
					<li>Arnhemseweg 11</li>
					<li>3811 NN Amersfoort</li>
				</ul>
				<ul class="list">
					<li>KVK: 60546204</li>
					<li>BTW: 8539.55.712.B01</li>
					<li>IBAN: NL09RABO0155510681</li>
				</ul>
			</div>

			<div class="right">
				<h2 class="header-text">Parkeren</h2>
				<p class="text">Is je op de stadsring de parkeergarage onder e Plusmarktwh hh ewhfeufhewou;fho iuhewfiuh i uehfiuh iuewhf iuh iuwehf iuhiuhwed iuhiu ilwebilb ilwebi bweilfbekjbflwjb lkwejbfklewb fkjbe lb bweb webb weubouwbfd oubouweh ouhowu ehouh ouewuo wuehuoh oh</p>
			</div>
		</div>

		<div class="social">
			<div class="list">
				<div class="wrapper">
					<div class="name">Facebook</div>
					<div class="arrow-long">
						{% include arrow.svg %}
					</div>
				</div>
				<div class="wrapper">
					<div class="name">Twitter</div>
					<div class="arrow-long">
						{% include arrow.svg %}
					</div>
				</div>
				<div class="wrapper">
					<div class="name">Linkedin</div>
					<div class="arrow-long">
						{% include arrow.svg %}
					</div>
				</div>
				<div class="wrapper">
					<div class="name">Behance</div>
					<div class="arrow-long">
						{% include arrow.svg %}
					</div>
				</div>
			</div>
		</div>

		<div class="logo">
			{% include logo.svg %}
		</div>

	</div>
</div>