<div class="header">

	{% if page.url != '/index.html' %}
		<div class="logo head">
			{% include logo.svg %}
		</div>
	{% endif %}

	<div class="hamburger">
		<div class="bar"></div>
		<div class="bar"></div>
		<div class="bar"></div>
	</div>

	<div class="nav">
		<div class="nav-inner">
			
			{% if page.url == '/index.html' %}			
			    <a class="active" href="/">Home</a>
			{% else %}
				<a href="/">Home</a>
			{% endif %}
			
			{% if page.url == '/cases/index.html' %}			
			    <a class="active" href="/cases">Cases</a>
			{% else %}
				<a href="/cases">Cases</a>
			{% endif %}

			{% if page.url == '/blogs/index.html' %}			
			    <a class="active" href="/blogs">Blogs</a>
			{% else %}
				<a href="/blogs">Blogs</a>
			{% endif %}

		</div>
	 </div>

</div>