.main-menu {
  border-bottom: 1px solid #cccccc;

  .menu-link {
    &.active {
      &:after {
        border-radius: 50%;
        bottom: 12px;
        content: "";
        height: 4px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        width: 4px;
      }
    }
  }
}

@include breakpoint(max-width $tablet - 1) {
  .main-menu {
    .menu-link {
      color: black;
      float: left;
      clear: left;
      line-height: 65px;
      text-align: center;
      position: relative;
      text-decoration: none;
      transition: 0.3s;
      padding: 0 10px;
      width: 100%;

      &.active:after {
        background-color: black;
      }
    }
  }
}

.homepage .main-menu {
  border-bottom: 0 solid #cccccc;
}