.main-menu {
  border-bottom: 1px solid #cccccc;
  
  &.nav {
    float: none;
    padding-left: 0;
  }

  .nav-inner {
    display: none;
  }
  
  .menu-item {
    padding-left: 0 !important;

    .menu-link {
      &.active {
        &:after {
          border-radius: 50%;
          bottom: 12px;
          content: "";
          height: 4px;
          left: 50%;
          transform: translateX(-50%);
          position: absolute;
          width: 4px;
        }
      }
    }


    .submenu {
      background-color: #d0a000;
      display: none;
      height: 0;
      transition: $speed;

      &.active-submenu {
        display: block;
        height: 100%;
      }
    }
    
    &:before {
      content: none !important;
    }
  }
}

@include breakpoint(max-width $tablet - 1) {
  .main-menu {

    .menu-link {
      color: black;
      float: left;
      clear: left;
      line-height: 65px;
      text-align: center;
      position: relative;
      text-decoration: none;
      transition: 0.3s;
      padding: 0 10px;
      width: 100%;

      &.active:after {
        background-color: black;
      }
    }
  }
}

.main-menu {
  border-bottom: 0 solid #cccccc;
}

.has-active-menu {
  .nav-inner {
    display: block;
  }
}