.hamburger {
	display: block;
	position: absolute;
	right: 30px;
	top: 20px;
	height: 30px;
	width: 30px;
	z-index: 10000;

	.bar {
		width: 100%;
		height: 4px;
		background: black;
		margin: 6px 0;
		transform: rotate(0deg);
		opacity: 1;
		visibility: visible;
		position: relative;

		&:nth-child(1) {
			transition: top $speed linear $speed, transform $speed linear 0s;
			top: 0;
		}
		&:nth-child(2) {
			transition: 0.3s;
		}
		&:nth-child(3) {
			transition: bottom $speed linear $speed, transform $speed linear 0s;
			bottom: 0;
		}
	}
}

.has-active-menu {
	.bar {
		&:nth-child(1) {
			transform: rotate(45deg);
			top: 10px;
			transition: top $speed linear 0s, transform $speed linear $speed;
		}
		&:nth-child(2) {
			opacity: 0;
			visibility: hidden;
		}
		&:nth-child(3) {
			transform: rotate(-45deg);
			bottom: 10px;
			transition: bottom $speed linear 0s, transform $speed linear $speed;
		}
	}
}

@include breakpoint($tablet) {
	.hamburger {
		display: none;
	}
}