$yellow: #f8bf00;
$yellow-light: #d7d7d7;

$grey: #54575a;
$light-grey: #cccccc;
$lighter-grey: #f7f7f7;
$text-color: #5a5a5a;
$footer-input-border: #b9b9b9;
$footer-input-color: #545454;
$footer-dark-block: #efefef;

$speed: 0.3s;

$padding: 10px;

$factor: .7;
