$yellow: #f8bf00;
$light-grey: #54575a;
$lighter-grey: #f7f7f7;

$max-width: 1000px; // Laten checken
$desktop: 1000px; // Laten checken
$tablet: 890px; // Laten checken
$mobiel: 680px; // Laten checken

$speed: 0.3s;

$padding: 10px;			