<div class="left">
	<h2 class="footer-block-header">Gegevens</h2>
	<address class="address list-footer">
		{{ site.company }}<br />
		{{ site.address }}<br />
		{{ site.zipcode }} {{ site.city }}<br />
	</address>

	<address class="address list-footer">
		KVK: {{ site.kvk }}<br />
		BTW: {{ site.btw }}<br />
		IBAN: {{ site.iban }}<br />
		<a target="_blank" href="/algemene-voorwaarden/">Algemene voorwaarden</a><br />
		<a target="_blank" href="/privacyverklaring/">Privacyverklaring</a><br />
	</address>
</div>

<div class="right">
	<h2 class="footer-block-header">Parkeren</h2>
	<address class="text">{{ site.footer_text }}</address>
</div>