<div class="left">
	<h2 class="footer-block-header">Gegevens</h2>
	<ul class="list-footer">
		<li>{{ site.company }}</li>
		<li>{{ site.address }}</li>
		<li>{{ site.zipcode }} {{ site.city }}</li>
	</ul>
	<ul class="list-footer">
		<li>KVK: {{ site.kvk }}</li>
		<li>BTW: {{ site.btw }}</li>
		<li>IBAN: {{ site.iban }}</li>
    <li><a target="_blank" href="https://studiofonkel.nl/img/pdf/AVW-SF-2016.pdf">Algemene voorwaarden</a> </li>
	</ul>
</div>

<div class="right">
	<h2 class="footer-block-header">Parkeren</h2>
	<p class="text">{{ site.footer_text }}</p>
</div>
