<h3 class="convince-header">4 redenen om met ons te werken</h3>
<div class="convince" markdown="0">

	{% assign items = items | sort: 'number' %}
	{% for item in items %}
		<div class="convince-wrapper">

			<div class="image-wrapper">
				<div class="image" style="background-image: url({{ item.image }});"></div>
			</div>

			<div class="wrapper-inner">
				<div class="wrapper">
					<div class="text">
						<span>#{{ item.number }}</span>
						<h1>{{ item.title }}</h1>
						<p>{{ item.content }}</p>
					</div>
				</div>
			</div>

		</div>
	{% endfor %}
</div>
