<!-- build:js(app) /js/footer-scripts.js -->
<script src="/_bower_components/modernizr/modernizr.js"></script>
<script src="/_bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/js/jquery.emailMandrill.js"></script>
<script type="text/javascript" src="/js/mandrill.min.js"></script>
<!--<script src="/_bower_components/js-client-mail/js-client-mail.js"></script>-->
<script src="/js/autogrow.js"></script>
<script src="/js/contact.js"></script>
<script src="/js/header.js"></script>
<script src="/js/spamspan.js"></script>
<!-- endbuild -->

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-7260593-72', 'auto');
    ga('send', 'pageview');

</script>

<script type="application/ld+json">
{ "@context" : "http://schema.org",
  "@type" : "Organization",
  "legalName" : "Studio Fonkel",
  "url" : "https://studiofonkel.nl/",
  "contactPoint" : [{
    "@type" : "ContactPoint",
    "telephone" : "+31 33 7370019",
    "contactType" : "sales"
  }],
  "logo" : "https://studiofonkel.nl/img/pdf/logo-fonkel.png",
  "sameAs" : [ "http://www.facebook.com/studiofonkel",
    "http://www.twitter.com/studiofonkel",
    "https://plus.google.com/u/0/111876056047988314965",
    "http://www.linkedin.com/company/studio-fonkel"
    ]}
</script>


<!-- build:dist:remove -->
<script src="/js/grid.js"></script>
<!-- endbuild -->
