<div class="list">
	<a href="https://nl-nl.facebook.com/studiofonkel" target="_blank" class="wrapper">
		<div class="name">Facebook</div>
		{% include html/arrow.html %}
	</a>
	<a href="https://twitter.com/StudioFonkel" target="_blank" class="wrapper">
		<div class="name">Twitter</div>
		{% include html/arrow.html %}
	</a>
	<a href="https://www.linkedin.com/company/studio-fonkel" target="_blank" class="wrapper">
		<div class="name">Linkedin</div>
		{% include html/arrow.html %}
	</a>
	<a href="https://www.behance.net/StudioFonkel" target="_blank" class="wrapper">
		<div class="name">Behance</div>
		{% include html/arrow.html %}
	</a>
</div>