<!-- build:js(app) /js/footer-scripts.js -->
<script src="/_bower_components/modernizr/modernizr.js"></script>
<script src="/_bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/js/jquery.emailMandrill.js"></script>
<script type="text/javascript" src="/js/mandrill.min.js"></script>
<!--<script src="/_bower_components/js-client-mail/js-client-mail.js"></script>-->
<script src="/js/autogrow.js"></script>
<script src="/js/contact.js"></script>
<script src="/js/header.js"></script>
<script src="/js/spamspan.js"></script>
<!-- endbuild -->


<script type="application/ld+json">
{ "@context" : "https://schema.org",
  "@type" : "Organization",
  "name" : "Studio Fonkel",
  "legalName" : "Studio Fonkel BV",
  "url" : "https://studiofonkel.nl/",
  "contactPoint" : [{
    "@type" : "ContactPoint",
    "telephone" : "+31 33 7370019",
    "contactType" : "customer support"
  }],
  "foundingDate": "2011",
  "founders": [
    {
      "@type": "Person",
      "name": "Floris van Woudenberg",
      "sameAs" : [
        "https://nl.linkedin.com/in/florisvanwoudenberg"
        ]
    },
    {
      "@type": "Person",
      "name": "Michiel Kokee",
      "sameAs" : [
        "https://nl.linkedin.com/in/michielkokee"
        ]
  }],
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Arnhemseweg 6",
    "addressLocality": "Amersfoort",
    "addressRegion": "UT",
    "postalCode": "3817CH",
    "addressCountry": "Netherlands"
 },
  "logo" : "https://studiofonkel.nl/images/logo-fonkel.png",
  "sameAs" : [
    "http://www.twitter.com/studiofonkel",
    "http://www.linkedin.com/company/studio-fonkel",
    "https://www.behance.net/studiofonkel",
    "http://www.facebook.com/studiofonkel",
    "https://plus.google.com/u/0/111876056047988314965/posts"
    ]}
</script>


<!-- build:dist:remove -->
<script src="/js/grid.js"></script>
<!-- endbuild -->
