<script src="/_bower_components/jquery/dist/jquery.js"></script>
<script src="/_bower_components/gridster/dist/jquery.gridster.min.js"></script>
<script src="/js/admin.front-page-widget.js"></script>

<div class="save">
    <input type="button" id="save-frontpage" href="#" value="Instellingen opslaan">
    <input type="button" id="reset" href="#" value="Annuleren">
    <div class="loader"></div>
</div>

<div class="gridster">
    <ul>

        {% for document in site.documents %}
            {% if document.front %}

                {% assign document_already_on_front = 'false' %}

                {% for item in site.data.front.items %}
                    {% if item.url == document.url %}

                        {% assign document_already_on_front = 'true' %}

                        <li data-row="{{ item.row }}" data-col="{{ item.col }}" data-sizex="{{ item.size_x }}" data-sizey="{{ item.size_y }}" data-url="{{ item.url }}">
                            {% include teaser/{{ document.collection }}.html %}
                        </li>
                    {% endif %}
                {% endfor %}

                {% if document_already_on_front == 'false' %}
                    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" data-url="{{ document.url }}">
                        {% include teaser/{{ document.collection }}.html %}
                    </li>
                {% endif %}

            {% endif %}
        {% endfor %}

    </ul>
</div>
