<h3 class="team">Het Fonkel-team</h3>
<section class="team-widget" markdown="0">
	<div class="employees-wrapper">
		{% assign counter = 0 %}
		{% for employee in site.data.team %}

		{% assign counter = counter | plus: 1 %}

			<div class="employee">
				<input type="radio" id="employee-{{ counter }}" name="employee-counter" class="employee-radio" />
				<label for="employee-{{ counter }}">
					<div class="image {{ employee.key }}" style="background-image: url('../img/{{ employee.key }}.jpg')" data-name="{{ employee.key }}"></div>
				</label>
				
				<div class="info">
					<h3>{{ employee.name }} - {{ employee.job }}</h3>
					<p>{{ employee.bio }}</p>
				</div>
			</div>

		{% endfor %}
	</div>
</section>