---
title: widget
---
    <p>Use <code>serialize</code> method to get widget positions. It returns a Array of objects that can be used as a JSON object.</p>

    <div class="controls">
        <button class="js-seralize">Serialize</button>
    </div>

    <textarea id="log"></textarea>

    <div class="gridster">
        <ul>

            {% for item in site.data.front.items %}
                <li data-row="{{ item.row }}" data-col="{{ item.col }}" data-sizex="{{ item.size_x }}" data-sizey="{{ item.size_y }}" data-url="{{ item.url }}">

                    {% for document in site.documents %}
                        {% if document.url == item.url %}
                            {% include {{ document.collection }}-teaser.html %}
                        {% endif %}
                    {% endfor %}
                </li>
            {% endfor %}
            
            {% for document in site.documents %}
                {% assign current_document_is_already_on_front = false %}

                {% for item in site.data.front.items %}
                    {% if document.url == item.url %}
                        {% assign current_document_is_already_on_front = true %}
                    {% endif %}
                {% endfor %}
            
                {% unless current_document_is_already_on_front %}
                <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" data-url="{{ document.url }}">
                    {% include {{ document.collection }}-teaser.html %}
                </li>
                {% endunless%}
            {% endfor %}
        </ul>
    </div>