.cases.teaser {
	@include clearfix;
	position: relative;
	margin-bottom: 10px !important;
	
	&:before {
		background: rgba(0, 0, 0, 0) linear-gradient(transparent 0px, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0.5) 100%) repeat scroll 0 0;
		content: "";
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		position: absolute;
	}

	.category {
		float: left;
		padding: 0 7px 0 0;
	}

	@include breakpoint($tablet) {
		margin-bottom: 30px !important;
	}
}
