.services-wrapper {
  @include clearfix;
  @include grid-span(4,1);
  position: relative;
  clear:both;
  background-color: red;

  .service-item {
    background-color: $yellow;
    border: 5px solid white;
    float: left;
    width: 100%;

    svg {
      width: 23px;

      .svg-arrow {
        stroke: black;
      }
    }
  }
}

@include breakpoint($mobile) {
  //
}

@include breakpoint($tablet) {
  //
}

@include breakpoint($desktop) {
  //
}