.teaser {
	transition: $speed;
	background-size: cover;
	position: relative;

	@include grid-span(4, 1);
	margin-top: 10px !important;
	margin-bottom: 10px !important;

	.inner-wrapper {
		@include clearfix;
		margin: 30px;
		bottom: 0;

		.header-text {
			color: #fff;
		    display: block;
		    font-size: 30px;
		    line-height: 32px;
		    font-weight: 700;
		    bottom: 20%;
		    width: 100%;
			margin-bottom: 15px;
			z-index: 44;
			position: relative;
		}
	}

	&:hover {
		.arrow-long {
			margin-left: 10px;
			z-index: 44;
			position: relative;
		}
	}

	@include breakpoint($tablet) {
		margin-top: 0px !important;
		margin-bottom: 0px !important;

		.inner-wrapper {
			padding: 0px;
			position: absolute !important;
		}
	}
}