  .tools-wrapper {
    @include clearfix;
    position: relative;
    clear: both;
    margin-bottom: 10px;

    .tools {
      transition: $speed;
      background-color: $yellow;
      @include float-span(4, 1);
      position: relative;
      @include clearfix;
      overflow: hidden;
      min-height: 220px;
      margin-bottom: 20px;

      .tool-article {
        height: 90%;
        overflow: hidden;
        width: 90%;
        display: block;
        position: absolute;
        transform: translate(5%,5%);
  
        img {
          max-height: 70%;
          width: auto;
        }

        svg {
          width: 23px;

          .svg-arrow {
            stroke: black;
          }
        }
      }
    }
  }

@include breakpoint($tablet) {
  .tools-wrapper {
   .tools {
      @include float-span(2, 1);
      min-height: 190px;

      .tool-article {
        img {
          max-height: 57%;
        }
      }
    }
  }
}

@include breakpoint($desktop) {
  .tools-wrapper {
    .tools {
      @include float-span(3, 1);
        min-height: 230px;

       .tool-article {
        img {
          max-height: 78%;
        }
      }
    }
  }
}