  .tools-wrapper {
    @include clearfix;
    position: relative;
    clear: both;
    margin-bottom: 10px;

    .tools {
      transition: $speed;
      background-color: $yellow;
      @include float-span(4, 1);
      position: relative;
      @include clearfix;
      overflow: hidden;
      min-height: 220px;
      margin-bottom: 20px;

      .paragraph {
        position: absolute;
        bottom: 10px;
        left: 10px;
      }
      img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      svg {
        width: 23px;

        .svg-arrow {
          stroke: black;
        }
      }
    }
  }

@include breakpoint($tablet) {
  .tools-wrapper {
   .tools {
      @include float-span(2, 1);
      min-height: 190px;

    }
  }
}

@include breakpoint($desktop) {
  .tools-wrapper {
    .tools {
      @include float-span(3, 1);
      min-height: 230px;
    }
  }
}